<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.offgrid.coupler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MockActivity"
            android:theme="@style/AppTheme.NoActionBar" />

<!--        Message activities-->
        <activity
            android:name=".controller.chat.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.chat.NewMessageActivity"
            android:theme="@style/AppTheme.NoActionBar" />

<!--        Contact Activities-->
        <activity
            android:name=".controller.contact.NewContactActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.contact.ContactListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.contact.ContactInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.contact.EditContactActivity"
            android:theme="@style/AppTheme.NoActionBar" />

<!--        Group Activities-->
        <activity
            android:name=".controller.group.NewGroupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.group.GroupInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.group.EditGroupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.group.AddGroupMembershipActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>